<div style="color: white">
    <h3>All Employees</h3>
    <hr/>
</div>
<table class="table" cellpadding="2" cellspacing="2" style="color: white">
    <thead class="thead">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Added By</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="employee in employees">
            <td>{{employee.EmpId}}</td>
            <td>{{employee.EmpName}}</td>
            <td>{{employee.EmpAddress}}</td>
            <td>{{employee.EmpGender}}</td>
            <td>{{employee.EmpSalary}}</td>            
            <td>{{employee.DeptId}}</td>
            <td>{{employee.AddedBy}}</td>
        </tr>
    </tbody>
</table>